<!-- Header -->
    <header id="header">
      <div class="logo"><a href="/"><%= image_tag('logo.png') %></a></div>
      <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="#banner" class="scrolly">Home</a></li>
        <li><a href="#about" class="scrolly">About Me</a></li>
        <li><a href="#photography" class="scrolly">Photography</a></li>
        <li><a href="#contact" class="scrolly">Contact Me</a></li>
        <li><a></a></li>
        <li>
          <ul class="icons">
            <% unless @information.instagram.blank? %>
              <li><a href="<%= @information.instagram %>" class="icon round fa-instagram" target="blank"><span class="label">Instagram</span></a></li>
            <% end %>
            <% unless @information.twitter.blank? %>
              <li><a href="<%= @information.twitter %>" class="icon round fa-twitter" target="blank"><span class="label">Twitter</span></a></li>
            <% end %>
            <% unless @information.facebook.blank? %>
              <li><a href="<%= @information.facebook %>" class="icon round fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
            <% end %>
            <% unless @information.linkedin.blank? %>
              <li><a href="<%= @information.linkedin %>" class="icon round fa-linkedin" target="blank"><span class="label">LinkedIn</span></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Banner -->
    <section id="banner" class="bg-img" style="background-image: url(<%= @information.banner_image? ? @information.banner_image.url : asset_path('banner.jpg') %>);">
      <div class="inner">
        <header>
          <h1><%= @information.title %></h1>
          <h2><%= @information.headline %></h2>
          <h3><%= @information.name %></p></h3>
        </header>
      </div>
      <a href="#about" class="more scrolly">About Me</a>
    </section>

    <!-- About -->
    <section id="about" class="wrapper post bg-img" style="background-image: url(<%= @information.about_image? ? @information.about_image.url : asset_path('about.jpg') %>);">
      <div class="inner">
        <article>
          <header>
            <h2>About Me</h2>
          </header>
          <div class="content">
            <p><%= @information.about_me %></p>
          </div>
          <footer>
            <a href="#photography" class="button alt scrolly">Check Out My Photography</a>
          </footer>
        </article>
      </div>
    </section>

    <!-- Photography -->
    <section id="photography">
      <%= render @albums %>
    </section>
    

    <!-- Footer -->
    <footer id="contact" class="wrapper post bg-img" style="background-image: url(<%= @information.contact_image? ? @information.contact_image.url : asset_path('contact.jpg') %>);">>
      <div class="inner">

        <%= form_for @message, html: {:class => 'box'} do |f| %>
          <h2>Contact Me</h2>
          <% unless @information.email.blank? %>
            <p><b>Email:</b> <%= @information.email %></p>
          <% end %>
          <% unless @information.phone.blank? %>
            <p><b>Phone #:</b> <%= @information.phone %></p>
          <% end %>

          <% if flash.key?("success") %>
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type} text-center", id: "body-up", style: "font-size: 15px;") %>
            <% end %>
          <% else %>
            <% flash.each do |message_type, message| %>
              <% messages = message.split("=") %>
              <div class="alert alert-danger text-center" id="body-up", style="font-size: 15px;"><%= messages[0] %><br><%= messages[1] %><br><%= messages[2] %></div>                
            <% end %>

            <div class="field half first">
              <label>Name <span id="red">*</span></label>
              <%= f.text_field :name, required: true %>
            </div>

            <div class="field half">
              <label>Email <span id="red">*</span></label>
              <%= f.text_field :email, type: "email", required: true %>
            </div>

            <div class="field">
              <label>Message <span id="red">*</span></label>
              <%= f.text_area :message, style: "resize: none;", rows: "3", required: true %>
            </div>

            <ul class="actions">
              <%= f.submit "Send", class: "button alt"%>
            </ul>

          <% end %>
        <% end %>

        <ul class="icons">
          <% unless @information.instagram.blank? %>
            <li><a href="<%= @information.instagram %>" class="icon round fa-instagram" target="blank"><span class="label">Instagram</span></a></li>
          <% end %>
          <% unless @information.twitter.blank? %>
            <li><a href="<%= @information.twitter %>" class="icon round fa-twitter"><span class="label" target="blank">Twitter</span></a></li>
          <% end %>
          <% unless @information.facebook.blank? %>
            <li><a href="<%= @information.facebook %>" class="icon round fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
          <% end %>
          <% unless @information.linkedin.blank? %>
            <li><a href="<%= @information.linkedin %>" class="icon round fa-linkedin" target="blank"><span class="label">LinkedIn</span></a></li>
          <% end %>
        </ul>

        <p class="copyright"><a href="https://www.eric-gonzalez.com/">Copyright © Eric Gonzalez, All Rights Reserved.</a>
        </p>

      </div>
    </footer>
    