<!-- Header -->
    <header id="header">
      <div class="logo"><a href="/"><%= image_tag('logo.png') %></a></div>
      <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="#banner" class="scrolly">Home</a></li>
        <li><a href="#about" class="scrolly">About Me</a></li>
        <li><a href="#photography" class="scrolly">Photography</a></li>
        <li><a href="#contact" class="scrolly">Contact Me</a></li>
        <li><a></a></li>
        <li>
          <ul class="icons">
            <% unless @information.instagram.blank? %>
              <li><a href="<%= @information.instagram %>" class="icon round fa-instagram" target="blank"><span class="label">Instagram</span></a></li>
            <% end %>
            <% unless @information.twitter.blank? %>
              <li><a href="<%= @information.twitter %>" class="icon round fa-twitter" target="blank"><span class="label">Twitter</span></a></li>
            <% end %>
            <% unless @information.facebook.blank? %>
              <li><a href="<%= @information.facebook %>" class="icon round fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
            <% end %>
            <% unless @information.linkedin.blank? %>
              <li><a href="<%= @information.linkedin %>" class="icon round fa-linkedin" target="blank"><span class="label">LinkedIn</span></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Banner -->
    <section id="banner" class="bg-img" style="background-image: url(<%= @information.banner_image? ? @information.banner_image.url : asset_path('banner.jpg') %>);">
      <div class="inner">
        <header>
          <h1><%= @information.title %></h1>
          <h2><%= @information.headline %></h2>
          <h3><%= @information.name %></p></h3>
        </header>
      </div>
      <a href="#about" class="more scrolly">About Me</a>
    </section>

    <!-- About -->
    <section id="about" class="wrapper post bg-img" style="background-image: url(<%= @information.about_image? ? @information.about_image.url : asset_path('about.jpg') %>);">
      <div class="inner">
        <article>
          <header>
            <h2>About Me</h2>
          </header>
          <div class="content">
            <p><%= @information.about_me %></p>
          </div>
          <footer>
            <a href="#one" class="button alt scrolly">Check Out My Photography</a>
          </footer>
        </article>
      </div>
    </section>

    <!-- Photography -->
    <section id="photography">
    <section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
      <div class="inner">
        <article>
          <header>
            <h2>Sunsets</h2>
          </header>
          <div class="content">
            <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
          </div>
          <footer>
            <a href="generic.html" class="button alt">Check Out Album</a>
          </footer>
        </article>
      </div>
    </section>
    
    <section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
      <div class="inner">
        <article class="box">
          <header>
            <h2>Mus elit a ultricies at</h2>
            <p>12.21.2016</p>
          </header>
          <div class="content">
            <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
          </div>
          <footer>
            <a href="generic.html" class="button alt">Learn More</a>
          </footer>
        </article>
      </div>
    </section>

    <section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
      <div class="inner">
        <article class="box">
          <header>
            <h2>Varius a cursus aliquet</h2>
            <p>11.11.2016</p>
          </header>
          <div class="content">
            <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
          </div>
          <footer>
            <a href="generic.html" class="button alt">Learn More</a>
          </footer>
        </article>
      </div>
    </section>

    <section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
      <div class="inner">
        <article class="box">
          <header>
            <h2>Luctus blandit mi lectus in nascetur</h2>
            <p>10.30.2016</p>
          </header>
          <div class="content">
            <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
          </div>
          <footer>
            <a href="generic.html" class="button alt">Learn More</a>
          </footer>
        </article>
      </div>
    </section>

    <!-- Footer -->
    <footer id="contact" class="wrapper post bg-img" style="background-image: url(<%= @information.contact_image? ? @information.contact_image.url : asset_path('contact.jpg') %>);">>
      <div class="inner">
        <form action="#" method="post" class="box">
          <h2>Contact Me</h2>
          <% unless @information.email.blank? %>
            <p><b>Email:</b> <%= @information.email %></p>
          <% end %>
          <% unless @information.phone.blank? %>
            <p><b>Phone #:</b> <%= @information.phone %></p>
          <% end %>
          <div class="field half first">
            <label for="name">Name</label>
            <input name="name" id="name" type="text">
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input name="email" id="email" type="email">
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="3"></textarea>
          </div>
          <ul class="actions">
            <li><input value="Send Message" class="button alt" type="submit"></li>
          </ul>
        </form>

        <ul class="icons">
          <% unless @information.instagram.blank? %>
            <li><a href="<%= @information.instagram %>" class="icon round fa-instagram" target="blank"><span class="label">Instagram</span></a></li>
          <% end %>
          <% unless @information.twitter.blank? %>
            <li><a href="<%= @information.twitter %>" class="icon round fa-twitter"><span class="label" target="blank">Twitter</span></a></li>
          <% end %>
          <% unless @information.facebook.blank? %>
            <li><a href="<%= @information.facebook %>" class="icon round fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
          <% end %>
          <% unless @information.linkedin.blank? %>
            <li><a href="<%= @information.linkedin %>" class="icon round fa-linkedin" target="blank"><span class="label">LinkedIn</span></a></li>
          <% end %>
        </ul>

        <p class="copyright"><a href="https://www.eric-gonzalez.com/">Copyright © Eric Gonzalez, All Rights Reserved.</a>
        </p>

      </div>
    </footer>
    