<section class="wrapper post bg-img" style="background-image: url(<%= album.cover_image.url %>);">
      <div class="inner">
        <article>
          <header>
            <h2><%= album.name %></h2>
            <h3><%= album.photos.count %> photos</h3>
          </header>
          <div class="content">
            <p><%= album.description %></p>
          </div>
          <footer>
            <%= link_to "Open Album", album_path(album), class: "button alt" %>
          </footer>
        </article>
      </div>
    </section>