<% unless params[:edit]%>

  <!-- Header -->
  <header id="header">
    <div class="logo">
      <a href="/"><%= image_tag('logo.png') %></a>
      <h1 id="album-name"><a id="album-name-link" href="/#photography">Albums</a> / <%= @album.name %></h1>
    </div>
    <a href="#menu"><span>Menu</span></a>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="/#banner" class="scrolly">Home</a></li>
      <li><a href="/#about" class="scrolly">About Me</a></li>
      <li><a href="/#photography" class="scrolly">Photography</a></li>
      <li><a href="/#contact" class="scrolly">Contact Me</a></li>
      <li><a></a></li>
      <li>
      <ul class="icons">
        <% unless @information.instagram.blank? %>
        <li><a href="<%= @information.instagram %>" class="icon round fa-instagram" target="blank"><span class="label">Instagram</span></a></li>
        <% end %>
        <% unless @information.twitter.blank? %>
        <li><a href="<%= @information.twitter %>" class="icon round fa-twitter" target="blank"><span class="label">Twitter</span></a></li>
        <% end %>
        <% unless @information.facebook.blank? %>
        <li><a href="<%= @information.facebook %>" class="icon round fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
        <% end %>
        <% unless @information.linkedin.blank? %>
        <li><a href="<%= @information.linkedin %>" class="icon round fa-linkedin" target="blank"><span class="label">LinkedIn</span></a></li>
        <% end %>
      </ul>
      </li>
    </ul>
  </nav>

<% else %>

  <%= link_to "Go Back To Homepage", root_path, class: "btn btn-success", style: "margin: 15px 10px;" %>
  <%= link_to "Go Back To Albums page", albums_path, class: "btn btn-warning", style: "margin: 15px 10px;" %>

<% end %>

  <!-- Content -->
  <section id="post" class="wrapper bg-img" style="background-image: url(<%= @album.cover_image.url %>);">
    <% if params['edit'] %>
      <div class="text-center">
        <%= link_to("Add a photo to this album", new_album_photo_path(album_id: @album.slug), class: "btn btn-success", style: "margin-top: 20px; margin-bottom: 15px;")%>
        <%= link_to("Edit this albums information", edit_album_path(@album), class: "btn btn-warning", style: "margin-top: 20px; margin-bottom: 15px;")%><br>
        <h3>Click a photo to edit or delete it from this album</h3>
      </div>
    <% end %>

    <div class="masonry-container">
      <div class="grid">
        <div class="grid-sizer"></div>
        <%= render @album.photos %>
      </div>
    </div>
  </section>

  <% content_for :scripts do %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript">
      // init Masonry after all images have loaded
      var $grid = $('.grid').imagesLoaded( function() {
        $grid.masonry({
          itemSelector: '.grid-item',
          percentPosition: true,
          columnWidth: '.grid-sizer'
        }); 
      });

    </script>
  <% end %>
